nav.navbar-top {
    border-bottom: 0.1rem solid var(--border);
    height: var(--navbar-height);
    width: 100%;

    padding: 0.5rem 1.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}nav.navbar-top > .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

    position: relative;
    height: 100%;
}nav.navbar-top > .nav-links > a {
    display: flex;
    justify-content: center;
        align-items: center;

    position: relative;
    height: 100%;
    width: min-content;
}nav.navbar-top > .nav-links .profile-ctx-button-wrapper {
    height: 100%;
    width: 2.5rem;
}nav.navbar-top > .nav-links .profile-ctx-button {
    height: 100%;
    width: 2.5rem;
}.navbar-top > .nav-links .profile-image {
    height: 100%;

    border-radius: 50%;
    padding: 0.25rem;
    padding-left: 0;
    box-sizing: border-box;
}
