h1, h2, h3, h4, h5, h6 {
    font-family: "Epilogue";
    color: #fff;
    margin: 0;
    padding: 0;
}p {
    color: #fff;
    margin: 0;
    padding: 0;   
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.65rem; }


.skeletal-sentence-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.25rem;
}p.skeletal {
    background: linear-gradient(31deg, var(--primary-foreground), var(--accent));
    background-position-x: 0%;
    background-size: 200%;
    color: transparent;
    border-radius: 0.25rem;
    
    height: 0.85rem;

    animation: skeletal-text ease-in-out infinite 2s;
    width: min-content;
    display: inline;
    user-select: none;
}p.skeletal.margined {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 1rem;
}

@keyframes skeletal-text {
    0% { background-position-x: 0%; }
    50% { background-position-x: 100%; }
    100% { background-position-x: 0%; }
}
