.tweet {
    width: 100%;
    display: flex;
    flex-direction: row;

    text-decoration: none;

    transition: opacity 0.2s ease-out;
}.tweet > .sidebar {
    width: 3rem;
    height: 100%;

    padding: 0.3rem;
    box-sizing: border-box;
}.tweet > .sidebar .profile-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    background: white;

    border: 0.1rem solid var(--border);
}.tweet > .body {
    width: 100%;
    height: 100%;

    padding: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0.25rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}.tweet > .body > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        align-items: center;
}.tweet > .body > .header > .header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    width: max-content;
}.tweet > .body > .header .displayname {
    font-size: 20px;
    font-weight: 500;
}.tweet > .body > .header .handle {
    color: #aaa;
    font-size: 20px;
    font-weight: 400;
}.tweet > .body > .header > .date {
    display: inline-block;
    user-select: none;
    color: #aaa;

    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
}.tweet > .body > .content-container {
    padding: 0;
    margin: 0;

    font-size: 20px;
    font-weight: 300;
    color: var(--foreground);
}.tweet > .body > .content-container > span, .tweet > .body > .content-container > a {
    padding: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    
    text-decoration: none;
    font-family: "Manrope";
}.tweet > .body > .content-container > span.btext.default-text {
    color: #ccc;
    font-family: "Manrope";
}.tweet > .body > .content-container > a.btext.hashtag {
    color: var(--hashtag-color);
}.tweet > .body > .content-container > a.btext.mention {
    color: var(--mention-color);
}.tweet > .body > .content-container > a:hover {
    filter: brightness(90%);
}.tweet > .body > .action-bar {
    display: flex;
    flex-direction: row;

    margin-top: 0.5rem;
    gap: 0.75rem;
    height: 1.25rem;
}.tweet > .body > .action-bar > .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.25rem;
    cursor: pointer;

    background: none;
    border: none;
}.tweet > .body > .action-bar > .item:hover > svg {
    filter: brightness(120%);
}.tweet > .body > .action-bar > .item:active > svg {
    filter: brightness(110%);
}.tweet > .body > .action-bar > .item > .count {
    font-size: 16px;
    color: #ccc;

    user-select: none;
}

/* Reply view tweet */
.tweet.reply-view {
    background: var(--primary-foreground);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.25rem;
    border: 0.1rem solid var(--border);

    width: 100%;
    overflow-x: hidden;
    margin-top: 0.1rem;
}.tweet.reply-view .sidebar {
    width: 2.25rem;
}.tweet.reply-view .header .handle,
.tweet.reply-view .header .displayname {
    font-size: 18px;
}

/* Post citation */
.post-quote-container {
    width: 100%;
    background: var(--popover);
    border-left: 0.2rem solid var(--chart-1-highlight);
    box-sizing: border-box;
    padding: 0.5rem;
    padding-left: 0.75rem;
    border-radius: 0 0.25rem 0.25rem 0;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}.post-quote-container > span {
    padding: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    color: var(--foreground);
    
    text-decoration: none;
    font-family: "Manrope";
}.post-quote-container > span.text.name {
    font-family: "Epiogue", sans-serif;
    font-weight: 500;
}.post-quote-container > span.text-important {
    font-weight: 600;
}.post-quote-container > span.text-unimportant {
    color: #666;
}.post-quote-container > span.text-unimportant.ellipsis {
    user-select: none;
    pointer-events: none;
}.post-quote-container > .profile-image {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: white;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.opinions {
    width: 100%;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    mask: linear-gradient(to right, transparent 0%, white 1%, white 99%, transparent 100%);
    box-sizing: border-box;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}.opinions::-webkit-scrollbar { 
    display: none;
}.opinions > .opinion {
    background: var(--primary-foreground);
    width: min-content;
    height: 100%;
    display: flex;
    justify-content: center;
        align-items: center;
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 0.1rem solid var(--border);
    box-sizing: border-box;
    border-radius: 0.4rem;
    cursor: pointer;
}.opinions > .opinion > p {
    user-select: none;
    color: #ccc;
    font-weight: 400;
    font-family: "Epilogue";
    font-size: 14px;

    transform: translateY(1px);
}.opinions > .opinion:hover {
    background: var(--border-highlight);
}.opinions > .opinion:hover > p {
    color: #fff;
}.opinions > .opinion.active {
    background: var(--chart-1);
    border: 0.1rem solid var(--chart-1-highlight);
}.opinions > .opinion.active > p {
    color: #fff;
}
