.profile-page {

}.profile-page > .profile-container {
    width: 100%;

    display: flex;
    flex-direction: row;

    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;

    border-bottom: 0.1rem solid var(--border);
}.profile-page > .profile-container > .profile-image {
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;
}.profile-page > .profile-container > .name-container {
    display: flex;
    flex-direction: column;
}.profile-page > .profile-container > .name-container > .displayname {
    font-family: "Epilogue", sans-serif;
    font-size: 32px;
    font-weight: 700;

    margin-top: auto;
}.profile-page > .profile-container > .name-container > .handle {
    font-family: "Epilogue", sans-serif;
    font-size: 32px;
    font-weight: 400;

    color: #ccc;
    margin-bottom: auto;
}.profile-page > .profile-container > .name-container > .handle > span {
    font-size: 32px;
    font-weight: 400;
}
