section.feed-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

.publish-post-overlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px) brightness(50%);
    opacity: 0;
    animation: publish-post-overlay-intro 0.1s ease-in-out forwards;
}

@keyframes publish-post-overlay-intro {
    from { opacity: 0; }
    to { opacity: 1; }
}