section.feed-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: calc(100% - var(--navbar-height));
}

.dynamic-home-content-container {
    flex-direction: column;
    display: flex;
    flex: 1;
}
