.search-bar {
    gap: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-user-list {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}
